body
{
    background-color: hotpink;
}

#Image1
{
    background-color: rgb(255, 255, 154);
    
}

.heading
{
    padding: 15px;
    letter-spacing: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px pink;
    font-size: 22px;
}

label
{
    background-color: white;
    color: green;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px pink;
}

#camera, #result
{
    border: 3px dashed black;
    border-radius: 10px;
    margin-top: 5px;
    width: 380px;
    height: 310;
}

.emotion_name, .emoji
{
    font-size: 23px;
    color: teal;
    background-color: white;
    margin-top: 5px;
    border-radius: 20px;
}

